certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.4
click-default-group==1.2.2
cloup==0.13.1
colour==0.1.5
Cython==0.29.36
decorator==5.1.1
glcontext==2.3.7
idna==3.4
isosurfaces==0.1.0
manim==0.17.3
ManimPango==0.4.3
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
moderngl==5.8.2
moderngl-window==2.4.4
multipledispatch==1.0.0
mypy==1.4.1
mypy-extensions==1.0.0
networkx==2.8.8
numpy==1.25.1
Pillow==9.5.0
pycairo==1.24.0
pydub==0.25.1
pyglet==2.0.8
Pygments==2.15.1
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyrr==0.10.3
requests==2.31.0
rich==13.4.2
scipy==1.11.1
screeninfo==0.8.1
skia-pathops==0.7.4
srt==3.5.3
svgelements==1.9.5
tqdm==4.65.0
typing_extensions==4.7.1
urllib3==2.0.3
watchdog==2.3.1
